@model EventViewModel[]

@{
    ViewData["Title"] = "All";
}

<h1 class="text-center text-torshia">All Events</h1>
<table class="table mx-auto">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Start</th>
            <th class="col-md-3">End</th>
            <th class="col-md-2">Place</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Length; i++)
            {
                int count = i + 1;
                <tr class="row">
                    <th class="col-md-1">@count</th>
                    <td class="col-md-3">@Model[i].Name</td>
                    <td class="col-md-3">@Model[i].Start</td>
                    <td class="col-md-3">@Model[i].End</td>
                    <td class="col-md-2">@Model[i].Place</td>
                </tr>
            }
    </tbody>
</table>