@model EventViewModel[]

@{
    ViewData["Title"] = "All Events";
}


<h1 class="text-center text-torshia">All Events</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<table class="table mx-auto">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-2">Name</th>
            <th class="col-md-2">Start</th>
            <th class="col-md-2">End</th>
            <th class="col-md-5">Action</th>
        </tr>
    </thead>
    <tbody>
        @{int row = 0;}
        @foreach (var eventViewModel in Model)
        {
        row++;
        <tr class="row">
            <th class="col-md-1">@row</th>
            <td class="col-md-2">@eventViewModel.Name</td>
            <td class="col-md-2">@eventViewModel.Start</td>
            <td class="col-md-2">@eventViewModel.End</td>
            <td class="col-md-5">
                <form class="form-inline" asp-controller="Orders" asp-action="Create" asp-route-id="@eventViewModel.Id" method="post">
                    <div class="form-group">
                        <label asp-for="@eventViewModel.TicketsCount"></label>
                        <input asp-for="@eventViewModel.TicketsCount" name="TicketsCount" class="form-control ml-1" placeholder="Tickets..." />
                    </div>
                    <div class="form-group ml-1">
                        <button type="submit" class="btn btn-default">Order</button>
                    </div>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}